{% extends 'base.html.twig' %}

 {% block bodyTitle %}Liste des etudiants{% endblock %}

{% block body %}
   
    <div class="flex justify-end">
        <a href="{{path("etudiant_create")}}" class=" bg-blue-500 hover:bg-blue-700 text-center text-white font-bold w-28 h-10 mx-2 p-2 rounded-lg">Ajouter</a>
        
    </div>
        <table class="w-full border-collapse border border-gray-300 mt-2">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 p-2 text-left">Matricule</th>
                    <th class="border border-gray-300 p-2 text-left">Nom</th>
                    <th class="border border-gray-300 p-2 text-left">Adresse</th>
                    <th class="border border-gray-300 p-2 text-left">Email</th>
                    <th class="border border-gray-300 p-2 text-left">Classe</th>
                    <th class="border border-gray-300 p-2 text-left">Update At</th>
                    <th class="border border-gray-300 p-2 text-left">Create At</th>
                </tr>
            </thead>
            <tbody>

                {% for etudiant in data %}
                <tr>
                    <td class="border border-gray-300 p-2">{{etudiant.matricule}}</td>
                    <td class="border border-gray-300 p-2">{{etudiant.nomComplet}}</td>
                    <td class="border border-gray-300 p-2">{{etudiant.adresse}}</td>
                    <td class="border border-gray-300 p-2">{{etudiant.login}}</td>
                    <td class="border border-gray-300 p-2">{{etudiant.classe.nom}}</td>
                    <td class="border border-gray-300 p-2">{{etudiant.createAt|date('d-m-Y')}}</td>
                    <td class="border border-gray-300 p-2">{{etudiant.updateAt|date('d-m-Y')}}</td>

                </tr>
                {% endfor %}
             
            </tbody>
        </table>
    
{% endblock %}

